.mySwiper {
    width: 100%;
    max-height: 400px; /* set a max height for banner */
  }
  
  .mySwiper img {
    width: 100%;
    height: auto; /* keep natural proportions */
    object-fit: contain; /* always show the full image */
    border-radius: 16px; /* optional */
  }
  
  